* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

.outer {
  width: 350px;
  margin: 20px 20px 40px;
  background-color: #308dc0;
}

.middle {
  background-color: #ffa506;
}

.inner {
  background-color: #dedede;
}

.block {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e75551;
}
